:root{
    /* Primary: Cold Heights */
    --primary-100: #F2FCFF;
    --primary-200: #C3F2FE;
    --primary-300: #93EBFB;
    --primary-400: #61E4F1;
    --primary-500: #31D8DE;
    --primary-600: #12B0AC;
    --primary-700: #068278;
    --primary-800: #025449;
    --primary-900: #01261F;

    /* Accent: Thimbleberry */
    --accent-100: #FFF6F2;
    --accent-200: #FFD5CA;
    --accent-300: #FCAFA1;
    --accent-400: #F48276;
    --accent-500: #E6514C;
    --accent-600: #B62727;
    --accent-700: #861515;
    --accent-800: #560B0B;
    --accent-900: #260505;

    /* Neutral */
    --neutral-100: #FAFCFC;
    --neutral-200: #E8EBEC;
    --neutral-300: #D7DBDB;
    --neutral-400: #C6CACB;
    --neutral-500: #B5BABA;
    --neutral-600: #8E9595;
    --neutral-700: #69706F;
    --neutral-800: #454B4A;
    --neutral-900: #222625;
}