:root{
    /* Primary: Cold Heights */
    --primary-100: #F2FCFF;
    --primary-200: #C3F2FE;
    --primary-300: #93EBFB;
    --primary-400: #61E4F1;
    --primary-500: #31D8DE;
    --primary-600: #12B0AC;
    --primary-700: #068278;
    --primary-800: #025449;
    --primary-900: #01261F;

    /* Accent: Thimbleberry */
    --accent-100: #FFF6F2;
    --accent-200: #FFD5CA;
    --accent-300: #FCAFA1;
    --accent-400: #F48276;
    --accent-500: #E6514C;
    --accent-600: #B62727;
    --accent-700: #861515;
    --accent-800: #560B0B;
    --accent-900: #260505;

    /* Neutral */
    --neutral-100: #FAFCFC;
    --neutral-200: #E8EBEC;
    --neutral-300: #D7DBDB;
    --neutral-400: #C6CACB;
    --neutral-500: #B5BABA;
    --neutral-600: #8E9595;
    --neutral-700: #69706F;
    --neutral-800: #454B4A;
    --neutral-900: #222625;
}
*{
    margin: 0;
}
body{
    display: flex;
    background-color: var(--neutral-200);
    font-family: "DM Sans", serif;
}
h1, h2, h3, h4{
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--neutral-900);
}
h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--neutral-800);
}
p{
    color: var(--neutral-900);
    font-size: 1rem;
    font-weight: 500;
}
section{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
label{
    font-weight: 600;
    color: var(--neutral-800);
    font-size: .85rem;
}
input{
    height: 48px;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: var(--neutral-100);
    padding: 0rem 1rem;
    font-size: .75rem;
    font-weight: 500;
    position: relative;
}
input::placeholder{
    font-weight: 400;
    color: var(--neutral-600);
    letter-spacing: 1px;
    font-family: "DM Sans", serif;
}
input:focus{
    outline: 2px solid var(--neutral-400);
}
input:hover{
    box-shadow: 0px 2px 4px var(--neutral-400);
}
input[type="checkbox"]{
    appearance: none; /* Reset native styles */
    width: 16px;
    height: 16px;
    border: 2px solid var(--neutral-300);
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    position: relative;
    transition: all 300ms ease-out;
}
input[type="checkbox"]:checked{
    background-color: var(--primary-500);
    border: 2px solid var(--primary-500);
}
input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 3px; 
    height: 10px; 
    border: solid white;
    border-width: 0 2px 2px 0;
  }
button{
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "DM Sans", serif;
    border: none;
    border-radius: .5rem;
}
button.primary_button{
    background-color: var(--primary-500);
    color: var(--neutral-100);
    box-shadow: 0px 0px 0px var(--neutral-400);
    
    transition: all 300ms ease-out;
}
button.primary_button:hover{
    background-color: var(--primary-600);
    box-shadow: 0px 2px 4px var(--neutral-400);
}
button.primary_button:active{
    background-color: var(--primary-700);
    box-shadow: 0px 0px 0px var(--neutral-400);
}
.cover{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: var(--primary-500);
    z-index: 100;
    transform: translateX(100%);
    animation-play-state: paused;
}
.cover[data-covered="login_covered"]{
    transform: translateX(0%);
    animation: cover_login 1000ms ease-out;
    animation-play-state: running;
}
@keyframes cover_login {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.cover[data-covered="create_covered"]{
    transform: translateX(100%);
    animation: cover_create 1000ms ease-out;
    animation-play-state: running;
}
@keyframes cover_create {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
.header_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0rem;
}
.form_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.form_input_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form_input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.password_extras_container{
    display: flex;
    justify-content: space-between;
}
.extra_remember{
    display: flex;
    gap: .5rem;
    align-items: center;
}
#forgot_passowrd_tag{
    font-size: .85rem;
    color: var(--accent-600);
}
.divider_word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.divider_word::after, .divider_word::before{
    position: absolute;
    content: '';
    width: 45%;
    height: 2px;
    background-color: var(--neutral-400);
}
.divider_word::after{
    left: 0;
}
.divider_word::before{
    right: 0;
}
.swap_screens{
    text-decoration: underline;
    color: var(--primary-700);
    cursor: pointer;
}
.password_validation_container{
    padding: 1.5rem 1rem;
    display: none;
    flex-direction: column;
    gap: .75rem;
    background-color: var(--neutral-100);
    border-radius: .5rem;
    & .password_checklist_item{
        font-size: .85rem;
        color: var(--neutral-700);
        position: relative;
        left: 16px;
    }
    & .password_checklist_item::before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--accent-500);
        left: -16px;
        top: 25%;
        border-radius: 8px;
    }
}

@media (min-width <=1200) and (max-width >= 1400) {
    
}