:root{
    /* Primary: Cold Heights */
    --primary-100: #F2FCFF;
    --primary-200: #C3F2FE;
    --primary-300: #93EBFB;
    --primary-400: #61E4F1;
    --primary-500: #31D8DE;
    --primary-600: #12B0AC;
    --primary-700: #068278;
    --primary-800: #025449;
    --primary-900: #01261F;

    /* Accent: Thimbleberry */
    --accent-100: #FFF6F2;
    --accent-200: #FFD5CA;
    --accent-300: #FCAFA1;
    --accent-400: #F48276;
    --accent-500: #E6514C;
    --accent-600: #B62727;
    --accent-700: #861515;
    --accent-800: #560B0B;
    --accent-900: #260505;

    /* Neutral */
    --neutral-100: #FAFCFC;
    --neutral-200: #E8EBEC;
    --neutral-300: #D7DBDB;
    --neutral-400: #C6CACB;
    --neutral-500: #B5BABA;
    --neutral-600: #8E9595;
    --neutral-700: #69706F;
    --neutral-800: #454B4A;
    --neutral-900: #222625;
}
*{
    margin: 0;
}
body{
    display: flex;
    background-color: var(--neutral-200);
    font-family: "DM Sans", serif;
}
h1, h2, h3, h4{
    color: var(--neutral-900);
}
h1{
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}
h2{
    font-weight: 600;
    font-size: 1.5rem;
}
p{
    color: var(--neutral-800);
    font-size: 1rem;
    font-weight: 500;
}
section{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    gap: 2rem;
}
label{
    font-weight: 600;
    color: var(--neutral-800);
    font-size: .85rem;
}
input{
    height: 48px;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: var(--neutral-100);
    padding: 0rem 1rem;
    font-size: .75rem;
    font-weight: 500;
}
input::placeholder{
    font-weight: 400;
    color: var(--neutral-600);
    letter-spacing: 1px;
    font-family: "DM Sans", serif;
}
input[type="checkbox"]{
    margin: 0;
    height: 16px;
    width: 16px;
}
button{
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "DM Sans", serif;
}
.header_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 2rem 0rem;
}
.form_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.form_input_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form_input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.password_extras_container{
    display: flex;
    justify-content: space-between;
}
.extra_remember{
    display: flex;
    gap: .5rem;
    align-items: center;
}